@model MainOffice.Models.Employee

@{
    ViewBag.Title = "Подробности";
}

<h2>Подробности</h2>

<div>
    <h4>@ViewData.ModelMetadata.AdditionalValues["ShortName"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FamilyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FathersName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FathersName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OldFamilyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OldFamilyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaffNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DismissalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DismissalDate)
        </dd>
		<dt>
            @Html.DisplayNameFor(model => model.BarberLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BarberLevel.Name)
        </dd>
		<dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
		<dt>
            @Html.DisplayNameFor(model => model.Profession)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profession.Name)
        </dd>
		<dt>
            @Html.DisplayNameFor(model => model.Salon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salon.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
