@using MainOffice.Helpers
<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/267d39986a.js" crossorigin="anonymous"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        @Html.Partial("_UserNamePartial")
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            @Html.Partial("_LoginPartial")
            
        </div>
    </nav>
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year – приложение ТМ "ЛОНДА"</p>
    </footer>
    @*<div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>*@
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap-table")
    @Scripts.Render("~/bundles/bootstrap-select")
    @RenderSection("scripts", required: false)
</body>
</html>
